
*.opensdf
*ipch*
*.ipch
*.obj
*.dll
*.exp
*.asi
*.sdf
*.tlog
*.class
*.suo
*JNI.h
*.log
*.pdb
*.rar
Makefile
Client/Obj/*
Server/Obj/*
Server/Bin/*
Server/Server.suo
Server/SOScript/dist/*
Server/NetBinder/Release/*
Server/Release/*
Server/SampleManaged/bin/*
Server/SampleManaged/obj/*
Server/SOScriptManaged/bin/*
Server/SOScriptManaged/obj/*
/Server/SOScriptNet/obj/*
Dependencies/*
Client/Bin/*
Client/Src/Script/Src/skse
Client/Bin/dinput8.dll
Client/Bin/ScriptDragon.dll
Server/Server/Makefile
Updater/obj/*
Updater/bin/*
Client/Src/Obj/*
setup.exe
*.csproj.user
Bin/
Obj/
