Build/projects
Build/lib/*.lib
!Build/lib/MyGUI*.lib
Build/lib/*.pdb
Build/Bin/d3d9*.dll
Build/Bin/SkyrimEngine*.dll
Build/Bin/Logic*.dll
Build/Bin/OblivionEngine*.dll
Build/Bin/Game*.exe
Build/Bin/version*.dll
Build/Bin/*.lib
Build/Bin/*.exp
Build/Bin/*.idb
Build/Bin/*.pdb
Build/Bin/logs/
Build/gsl
Build/gsl.exe
Build/Codegen.bat
Code/Messages/*.xml
